.holder,.slideContent{
  position: relative;
}
.holder *,.slideContent *{
  position: absolute !important;
}
.holder img,.slideContent img{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.draggable,.draggablewithimage {
    width: 25%;
    /* margin: 1rem 0 0 1rem; */
    background-color: #29e;
    color: white;
    border-radius: 0.75em;

    touch-action: none;
    user-select: none;
  }
  .lsPptEditor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
a.addNewSlide {
  font-size: 46px;
  border: 1px solid;
  border-radius: 50%;
  padding: 0px 12px;
  cursor: pointer;
}
.slidesHolder {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
}
.slidesHolder > div {
  height: 136px;
  box-shadow: 0px 0px 4px 2px #e0e0e0;
  width: 236px;
  margin: 6px;
  padding: 6px;
  text-align:center;
  position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 62.5%;
    overflow: hidden;
    contain: strict;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 36px;
    overflow-wrap: normal;
}
.slidesHolder > div > div.slideContent{
  width: 1280px;
  height: 640px;
  transform: scale(0.175);
  display: flex;
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  transform-origin: center;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0.19);
  display: flex;
  overflow: unset;
}
