.holder,.slideContent{
  /*position: relative;*/
}
/*.holder *,.slideContent *{*/
/*  position: absolute !important;*/
/*}*/
.holder img,.slideContent img{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
 .draggable:hover{
   cursor: pointer;
	 border: 1px solid yellow;
  }
.draggable,.draggablewithimage {
	cursor: default;
    width: 25%;
    /* margin: 1rem 0 0 1rem; */
    /*background-color: #29e;*/

    /*color: white;*/
    border-radius: 0.75em;

    touch-action: none;
    user-select: none;
	border: 1px solid transparent;
  }
  .lsPptEditor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	}
a.addNewSlide {
  font-size: 46px;
  border: 1px solid;
  border-radius: 50%;
  padding: 0px 12px;
  cursor: pointer;
}
.slidesHolder {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
}
.slidesHolder > div {
  min-height: auto;
  box-shadow: 0px 0px 2px 2px #e0e0e0;
  min-width: 100%;
  margin: 6px;
  padding: 6px;
  text-align:center;
  position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 62.5%;
    overflow: hidden;
    contain: strict;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 36px;
    overflow-wrap: normal;
}
.slidesHolder > div > div.slideContent{
  width: 1280px;
  height: 640px;
  transform: scale(0.175);
  display: flex;
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  transform-origin: center;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0.19);
  display: flex;
  overflow: unset;
}

/*---------add on from pptx=-----*/

/*.slidesHolder .singleSlidePreview  .slide{*/
/*	min-width: 400px!important;*/
/*	height: auto;*/
/*}*/
.slide {
	position: relative;
	border: 1px solid #333;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 50px;
	margin-left: auto;
  	margin-right: auto;
}

.slide div.block {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	line-height: 1;
}

.slide div.content {
	display: flex;
	flex-direction: column;
}
.slide div.diagram-content{
	display: flex;
	flex-direction: column;
}

.slide div.content-rtl {
	display: flex;
	flex-direction: column;
	direction: rtl;
}
.slide .pregraph-rtl{
	direction: rtl;
}
.slide .pregraph-ltr{
	direction: ltr;
}
.slide .pregraph-inherit{
	direction: inherit;
}
.slide .slide-prgrph{
	width: 100%;
	/* overflow-wrap:break-word;
  	word-wrap: break-word;  */

	/* word-break: break-word; */
	/* unicode-bidi: bidi-override; */
	/* hyphens: auto;
	overflow-wrap: break-word; */

}

.slide .line-break-br::before{
  content: "\A";
  white-space: pre;
}
.slide div.v-up {
	justify-content: flex-start;
}
.slide div.v-mid {
	justify-content: center;
}
.slide div.v-down {
	justify-content: flex-end;
}

.slide div.h-left {
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
}
.slide div.h-left-rtl {
	justify-content: flex-end;
	align-items: flex-end;
	text-align: left;
}
.slide div.h-mid {
	justify-content: center;
	align-items: center;
	text-align: center;
}
.slide div.h-right {
	justify-content: flex-end;
	align-items: flex-end;
	text-align: right;
}
.slide div.h-right-rtl {
	justify-content: flex-start;
	align-items: flex-start;
	text-align: right;
}

.slide div.h-just,
.slide div.h-dist {
	text-align: justify;
}


.slide div.up-left {
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
}
.slide div.up-center {
	justify-content: flex-start;
	align-items: center;
}
.slide div.up-right {
	justify-content: flex-start;
	align-items: flex-end;
}
.slide div.center-left {
	justify-content: center;
	align-items: flex-start;
	text-align: left;
}
.slide div.center-center {
	justify-content: center;
	align-items: center;
}
.slide div.center-right {
	justify-content: center;
	align-items: flex-end;
}
.slide div.down-left {
	justify-content: flex-end;
	align-items: flex-start;
	text-align: left;
}
.slide div.down-center {
	justify-content: flex-end;
	align-items: center;
}
.slide div.down-right {
	justify-content: flex-end;
	align-items: flex-end;
}


.slide li.slide {
	margin: 10px 0px;
	font-size: 18px;
}

.slide table {
	position: absolute;
}

.slide svg.drawing {
	position: absolute;
	overflow: visible;
}

.ql-editor {
	min-height: 250px !important;
	height: 500px !important;
}

.ql-container {
	height: auto !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
	 content: attr(data-value) !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-options{
    height: 200px;
    overflow: auto;
}
